<div class="container">
<div class="col-md-6">
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@student.errors.count, "Error") %> prohibited this class from being saved:</h2>
      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= bootstrap_form_for @student do |f| %>
  <%= f.text_field :name %>
  <% if current_user.admin? %>
    <%= f.collection_select :user_id, User.guardians, :id, :email, label: "Parent" %>
  <% else %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <%= f.text_field :birthday, :data => {:provide => "datepicker"}, :value => (f.object.birthday.strftime('%m/%d/%Y') if f.object.birthday) %>
  <%= f.collection_select(:student_class_id, StudentClass.all, :id, :class_name, label: "Class") %>
  <%= f.submit %>
<% end %>
<%= link_to "Go Back", request.referrer %>
</div>
</div>
