<%= month_calendar do |date| %>
  <%= date.day %>
  <% StudentClass.current_month(date).each do |student_class| %>
    <div>
      <% if student_class.meets_on.any?{|day| /#{date.strftime('%A')}/.match(day) } %>
        <%= link_to student_class.name, student_class_path(student_class) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<h1>Showing all Parents</h1>
<ul>
<% @users.each do |user| %>
  <li><%= link_to user.name, user %> (
    <% user.students.each do |student| %>
      <%= link_to student.name, student  %> 
    <% end %>
    )</li>
<% end %>
</ul>
