<h1>Welcome, <%= @user.name %>  </h1>
<% if @students %>
  <h3>Students:</h3>
  <ul>
    <% @students.each do |student| %>
      <li>
          <p>Name: <%= link_to student.name, student %></p>
          <p>Birthday: <%= student.birthday %></p>
          <p>Class: <%= link_to student.student_class.name, student.student_class %></p>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to "Add Student", new_student_path %>
