<% if current_user.admin? %>
  <h1> <%= @user.name %></h1>
  <h6> <%= @user.email %></h6>
<% else %>
  <h1>Welcome, <%= @user.name %></h1>
<% end %>

<div id="build_form">
  <%= render 'link' %>
</div>

<div id="new_form">
</div>

<% if @students %>
  <h3>Students:</h3>
  <ul id="students">
    <%= render @students %>
  </ul>
<% end %>
