<div class="container">
<div class="col-md-6 col-md-offset-3">
<%= bootstrap_form_for @student_class do |f| %>
  <%= f.text_field :name %>
  <%= f.select :min_age, options_for_select(1..20) %>
  <%= f.select :max_age, options_for_select(1..20) %>
  <%= f.select(:meets_on, [['Mondays'],
                          ['Tuesdays'],
                          ['Wednesdays'],
                          ['Thursdays'],
                          ['Fridays'],
                          ['Saturdays'],
                          ['Sundays']],
                          {},
                          { :multiple => true, :size => 7}
              ) %>
              <%= f.time_select :start_time, { :ignore_date => true, :minute_step => 15 } %>
              <%= f.time_select :end_time, { :ignore_date => true, :minute_step => 15 } %>
  <%= f.text_field(:start_date, :data => {:provide => "datepicker"})%>
  <%= f.text_field(:end_date, :data => {:provide => "datepicker"})%>
  <p>Supplies:</p>
  <%= f.fields_for :supplies do |supply| %>
    <%= supply.text_field :name %>
    <%= supply.text_field :amount %>
  <% end %>
  <%= f.submit %>
<% end %>
</div>
</div>

