<h1><%= @student_class.name %></h1>
<p>Age range: <%= @student_class.min_age %> - <%= @student_class.max_age %></p>
<p>Meets from <%= StudentClass.pretty_time(@student_class.start_time) %> to <%= StudentClass.pretty_time(@student_class.end_time) %> on</p>
<ul>
<% @student_class.meets_on.each do |day| %>
  <li><%= day %></li>
<% end %>
</ul>

<div id="supply_list">
  <p id="supply_form">Supplies: <%= link_to '(Add Supply Fee)', new_supply_path(:student_class_id => @student_class.id), remote: true, id: 'nested_supply' %></p>
<ul id="supplies">
<% @student_class.supplies.each do |supply| %>
  <%= render 'supply', {supply: supply, student_class: @student_class} %>
<% end %>
</ul>
</div>

<div id="new_form">
</div>

