<h1><%= @date.strftime("%A, %B %e - %Y")%></h1>
<% if @classes.length == 0 %>
  <h4>No classes for today</h4>
<% else %>
  <% @classes.each do |student_class| %>
    <h2><%= student_class.name %></h2>
      <%= form_for student_class do |f| %>
        <%= hidden_field_tag(:date, @date) %>
        <table>
          <tr>
            <th>Name</th>
            <th>On-Time</th>
            <th>Absent</th>
            <th>Tardy</th>
            <th>Late Pickup</th>
            <th>Notes</th>
          </tr>
          <%= f.fields_for :students do |s| %>
            <%= s.hidden_field(:id) %>
            <%= s.hidden_field(:date, value: @date) %>
          <tr>
            <td><%= s.object.name %></td>
            <td>
              <%= s.radio_button(:status, "present", :checked => attendance_event?(s.object.id, "present"))%>
            </td>
            <td>
              <%= s.radio_button(:status, "absent", :checked => attendance_event?(s.object.id, "absent"))%>
            </td>
            <td>
              <%= s.radio_button(:status, "tardy", :checked => attendance_event?(s.object.id, "tardy"))%>
            </td>
            <td>
              <%= s.radio_button(:status, "late_pickup", :checked => attendance_event?(s.object.id, "late_pickup"))%>
            </td>
            <td>
              Notes...
              </td>
          </tr>
          <br>
        <% end %>
      </table>
      <br><%= f.submit %><br>
      <% end %>
  <% end %>
<% end #if statement %>
<%= link_to "Back", users_path %>

