<!DOCTYPE html>
<html>
<head>
  <title>DavisAcademy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user && current_user.admin? %>
    <%= render 'layouts/admin_header' %>
  <% else %>
    <%= render 'layouts/header' %>
  <% end  %>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
</div>

</body>
</html>
